body {
  font-family: "BIZ UDPMincho", sans-serif;
}

.big {
  font-size: 100px;
  width: fit-content;
  height: fit-content;
  margin: unset;
}

.title-div {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-image: url("image/jen.jpg");
  background-size: cover;
}

.other-div {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.right {
  align-self: flex-end;
}

.index-container {
  display: flex;
  margin: unset;
  height: 50vh;
  justify-content: center;
}

.centered-link {
  margin: unset;
}

.dark-bg {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.third {
  width: 33%;
}

a {
  color: unset;
}

.indexH2 {
  padding: 50px;
  font-size: 50px;
}

.part1 {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.part2 {
  font-family: "Space Mono", monospace;
  color: olive;
  border: 10px solid olive;
}

.part3 {
  font-family: "BIZ UDPMincho", "Times New Roman", Times, serif;
  color: #d8ffe6;
  background-image: url("image/part3.png");
  background-size: cover;
}
